<div class="modal-header alert-header">
  <button class="close" type="button" aria-label="Close" (click)="activeModal.hide()">
    <span aria-hidden="true" class="alert-close">&times;</span>
  </button>
</div>
<div class="modal-body alert-body">
  <div class="apa text-center">
    <span class="alert-title">PENGUMUMAN</span>
    <p class="alert-message">
      Key in remediasi semester ganjil<br>
      Tahun Akademik 2018/2019 di UIIGateway<br>
      khusus untuk <b>FMIPA</b> dan <b>FIAI.</b><br>
      Untuk Fakultas lainnya masih menggunakan
      <a href="https://unisys.uii.ac.id" target="_blank" class="alert-link">Unisys</a>.
    </p>
  </div>
</div>
