<div class="wrapper-fw reset-password-invalid">
  <div class="logo-fw">
    <a [routerLink]="['/']">
      <img src="assets/images/uii-logo-pyramid.png" alt="UII Logo">
    </a>
  </div>

  <div class="content-fw">
    <div class="icon">
      <img src="assets/images/icons/link-invalid.png" alt="Link Invalid" width="300">
    </div>
    <div class="text">
      <h1 class="text-uppercase text-normal">LINK TIDAK VALID</h1>
      <p>Link yang anda cari tidak valid</p>
    </div>
    <button class="btn btn-primary" [routerLink]="['/login']">Kembali</button>
  </div>
</div>
  