<div class="wrapper-fw reset-password-expired">
  <div class="logo-fw">
    <a [routerLink]="['/']">
      <img src="assets/images/uii-logo-pyramid.png" alt="UII Logo">
    </a>
  </div>

  <div class="content-fw">
    <div class="icon">
      <img src="assets/images/icons/link-expired.png" alt="Link Expired" width="200">
    </div>
    <div class="text">
      <h1 class="text-uppercase text-normal">LINK TIDAK BERLAKU</h1>
      <p>Link yang anda cari sudah tidak beraku</p>
    </div>
    <button class="btn btn-primary" [routerLink]="['/login']">Kembali</button>
  </div>
</div>
    